<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <% @todos.each do |todo| %>
      <ul>
        <%if(todo["completed"]==0)%>
          <li class="todo_uncomplete">
              <h2><%= todo["title"] %></h2>
              <p><%= todo["description"] %></p>
          </form>
          <form action="/todos" method="post">
              <button type="submit">Delete</button>
          </form>
          <form action="/todos" method="post">
            <button type="submit">Complete</button>
          </form>
          <form action>
          </li>
        <% end %>
        <%if (todo["completed"]==1)%>
          <li class="todo_complete">
              <h2><%= todo["title"] %></h2>
              <p><%= todo["description"] %></p>
          </form>
          <form action="/todos" method="post">
              <button type="submit">Delete</button>
          </form>
          <form action="/todos" method="post">
            <button type="submit">Uncomplete</button>
          </form>
          <form action>
          </li>
        <% end %>
      </ul>
    <% end %>
        <form action="/todos" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Add</button>
    
</body>
</html>
